
html, body
{
    margin: 0;
    padding: 0;
    width: 300px;
    height: fit-content;
}

.content
{
    padding: 20px;
    padding-top: 0;
}

.expand-right {
    flex: 1 1 auto;
    text-align: right;
    padding-right: 30px;
}

.deleteElem {
    display: flex;
    justify-content: space-between;
}
