
html, body
{
    margin: 0;
    padding: 0;
}

.readyHeader
{
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    background-color: #EEEEEE;
}

.resetDevice
{
    display:flex;
}

#deleteDevice
{
    width: 100%;
    flex-direction: column;
}
